.app {
    display: flex;
    justify-content: space-around;
}

.create-wrap {
    width: 60%;
    display: flex;
}

.create {
    width: 30%;
    margin-top: 1%;
    margin-left: 1%;
    padding: 25px;
    max-height: 750px;
    border: 1px solid black;
}

.update {
    width: 30%;
    height: 300px;
    padding: 25px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid black;
}

.list {
    width: 25%;
    margin-top: 1%;
    margin-right: 1%;
    border: 1px solid black;
    padding: 25px;
}

.delete {
    width: 100%;
    background-color: #cccccc;
}